BasedOnStyle: LLVM
ColumnLimit: '0'
# IndentPPDirectives: BeforeHash
IndentWidth: '4'
PointerAlignment: Right
ReflowComments: true
IndentCaseLabels: true
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse

